<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>XL Spaceship: Current game.</title>
        <link rel="stylesheet" href="../../css/game.css">
        <script type="text/javascript" src="../../js/ajax-errors.js"></script>
        <script type="text/javascript" src="../../js/game.js"></script>
    </head>
    <body>
        <div>
            <h1>XL Spaceship: Current game.</h1>
            <br/>
            <div>
                <input id="salvoCount" type="hidden" value="0" readonly="readonly"/>
                <input id="gameId" type="hidden" th:value="${gameId}" readonly="readonly"/>

                <table>
                    <tr>
                        <td>Myself</td>
                        <td><input type="text" th:id="userId" th:name="${gameStatus.self.userId}"
                                   th:value="${gameStatus.self.userId}"
                                   readonly="readonly" disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Opponent</td>
                        <td><input type="text" th:id="opponentId" th:name="${gameStatus.opponent.userId}"
                                   th:value="${gameStatus.opponent.userId}"
                                   readonly="readonly" disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Turn</td>
                        <td>
                            <input type="text" th:id="playerTurnId" th:value="${playerTurn}" readonly="readonly"
                                   disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Won</td>
                        <td>
                            <input type="text" th:id="wonId" th:value="${won}" readonly="readonly" disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Salvo</td>
                        <td>
                            <input id="salvo" type="text" value="" readonly="readonly" disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Alive ships</td>
                        <td>
                            <input id="aliveShips" type="text" th:value="${aliveShips}" readonly="readonly"
                                   disabled="disabled"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr row="class">
                        <td>
                            <form id="myBoard" th:inline="html">
                                [(${myBoard})]
                            </form>
                        </td>
                        <td>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        </td>
                        <td>
                            <form id="opponentBoard" th:inline="html">
                                [(${opponentBoard})]
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
